doctype html
html(lang="en")
   head
      meta(charset="UTF-8")
      meta(name="viewport" content="width=device-width, initial-scale=1.0")
      title Document
      link(rel="stylesheet" href="index.css")
      <link rel="stylesheet" href="./sourse/OwlCarousel2-2.3.4/owl.carousel.min.css">
      <link rel="stylesheet" href="./sourse/OwlCarousel2-2.3.4/owl.theme.default.min.css">
   body


      include ./sections/nav-mobile/nav-mobile.pug
      include ./sections/modal-form/modal-form.pug
      include ./sections/header/header.pug
      include ./sections/about-us/about-us.pug
      include ./sections/services/services.pug
      include ./sections/courses/courses.pug
      include ./sections/travel/travel.pug
      include ./sections/team/team.pug
      include ./sections/reviews/reviews.pug
      include ./sections/footer/footer.pug


      script(src="./sourse/sections/nav-mobile/nav-mobile.js")
      script(src="./sourse/sections/modal-form/modal-form.js")
      script(src="./sourse/sections/team/team.js")


      script(src="./sourse/jquery/jquery-3.7.1.js")
      script(src="./sourse/OwlCarousel2-2.3.4/owl.carousel.min.js")

      script(src="./index.js")


