*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  border: 0;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  font-size: 14px;
  line-height: 1;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

p {
  -webkit-margin-before: 0px;
          margin-block-start: 0px;
  -webkit-margin-after: 0px;
          margin-block-end: 0px;
  -webkit-margin-start: 0px;
          margin-inline-start: 0px;
  -webkit-margin-end: 0px;
          margin-inline-end: 0px;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
  -webkit-margin-before: 0px;
          margin-block-start: 0px;
  -webkit-margin-after: 0px;
          margin-block-end: 0px;
  -webkit-margin-start: 0px;
          margin-inline-start: 0px;
  -webkit-margin-end: 0px;
          margin-inline-end: 0px;
}

html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

main {
  display: block;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
}

abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
  /* 2 */
}

b,
strong {
  font-weight: bolder;
}

code,
kbd,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

img {
  border-style: none;
}

ul li {
  display: block;
  list-style: none;
  list-style-type: disc;
  -webkit-margin-before: 0px;
          margin-block-start: 0px;
  -webkit-margin-after: 0px;
          margin-block-end: 0px;
  -webkit-margin-start: 0px;
          margin-inline-start: 0px;
  -webkit-margin-end: 0px;
          margin-inline-end: 0px;
  -webkit-padding-start: 0px;
          padding-inline-start: 0px;
}

p {
  -webkit-margin-before: 0px;
          margin-block-start: 0px;
  -webkit-margin-after: 0px;
          margin-block-end: 0px;
  -webkit-margin-start: 0px;
          margin-inline-start: 0px;
  -webkit-margin-end: 0px;
          margin-inline-end: 0px;
}

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button,
input {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox],
[type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details {
  display: block;
}

summary {
  display: list-item;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

html {
  font-size: 0.7291666667vw;
}

body {
  font-family: "Bookman";
  font-weight: 400;
  margin: 0 auto;
  min-width: 360px;
}

.mobile-menu {
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  z-index: 999;
  background-color: white;
  width: 100%;
  height: 100%;
  min-width: 360px;
}

.mobile-menu__icon-close {
  height: 18px;
  width: 27px;
  top: clamp(20.8px, 2.0833333333vw, 2.0833333333vw);
  right: clamp(20.8px, 2.0833333333vw, 2.0833333333vw);
  position: absolute;
  cursor: pointer;
}

.mobile-menu__icon-close::before,
.mobile-menu__icon-close::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: black;
  -webkit-transform-origin: center;
          transform-origin: center;
}

.mobile-menu__icon-close::before {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.mobile-menu__icon-close::after {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.mobile-menu_logo {
  font-family: "Bookman";
  font-weight: 700;
  font-size: 32.5px;
  border-bottom: solid #DF803E 1px;
  margin-bottom: 27px;
  padding: 16px 20px 18px 20px;
  width: 100%;
  letter-spacing: 2.1px;
}

.mobile-menu__list-mobile {
  width: 100%;
}

.mobile-menu__list-mobile a {
  display: block;
  color: black;
  margin-bottom: 35px;
}

.mobile-menu__list-mobile a:last-child {
  margin-bottom: 0px;
}

.mobile-menu__item {
  font-size: 20px;
  padding: 0px 29px;
  letter-spacing: 1.9px;
}

.mobile-menu__image-giraffe {
  width: 140px;
  height: 195px;
  margin-bottom: 40px;
  position: absolute;
  bottom: 0;
}

.background-form {
  display: none;
  background-color: rgba(0, 0, 0, 0.7);
  position: fixed;
  z-index: 1;
  width: 100%;
  height: 100%;
}

.form-block {
  display: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: white;
  padding: clamp(62.5px, 6.25vw, 6.25vw) clamp(22.917px, 2.1875vw, 2.1875vw) clamp(62.5px, 6.25vw, 6.25vw) clamp(21.875px, 2.1875vw, 2.1875vw);
  border-radius: clamp(24px, 2.5vw, 2.5vw);
  position: relative;
  position: fixed;
  z-index: 2;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.form-block__icon-close {
  height: clamp(16.66px, 1.6666666667vw, 1.6666666667vw);
  width: clamp(16.66px, 1.6666666667vw, 1.6666666667vw);
  top: clamp(20.8px, 2.0833333333vw, 2.0833333333vw);
  right: clamp(20.8px, 2.0833333333vw, 2.0833333333vw);
  position: absolute;
  cursor: pointer;
}

.form-block__icon-close::before,
.form-block__icon-close::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: black;
  -webkit-transform-origin: center;
          transform-origin: center;
}

.form-block__icon-close::before {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.form-block__icon-close::after {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.form-block__title {
  font-size: clamp(17.7px, 2.4285714286rem, 2.4285714286rem);
  margin-bottom: clamp(20.8px, 2.0833333333vw, 2.0833333333vw);
  letter-spacing: clamp(3.2px, 0.1666666667vw, 0.1666666667vw);
  line-height: 130%;
}

.confirmation-block__text {
  line-height: 130%;
  font-size: clamp(17.7px, 2.4285714286rem, 2.4285714286rem);
  letter-spacing: clamp(3.2px, 0.1666666667vw, 0.1666666667vw);
  text-align: center;
  white-space: nowrap;
}

.form-block__input {
  font-size: clamp(13.5px, 1.8571428571rem, 1.8571428571rem);
  border-bottom: solid clamp(1px, 0.1041666667vw, 0.1041666667vw) black;
  line-height: 136%;
  letter-spacing: clamp(2.5px, 0.1302083333vw, 0.1302083333vw);
  width: 100%;
  padding-bottom: clamp(5.8px, 0.5729166667vw, 0.5729166667vw);
  margin-bottom: clamp(21px, 2.0833333333vw, 2.0833333333vw);
}

.form-block__input:last-of-type {
  margin-bottom: clamp(33px, 3.3333333333vw, 3.3333333333vw);
}

.form-block__button {
  font-size: clamp(13.5px, 1.8571428571rem, 1.8571428571rem);
  background-color: #DF803E;
  border: solid 0.1041666667vw #DF803E;
  padding: clamp(10px, 0.9895833333vw, 0.9895833333vw) clamp(34px, 3.3854166667vw, 3.3854166667vw);
  border-radius: clamp(5px, 0.5208333333vw, 0.5208333333vw);
  line-height: 130%;
  letter-spacing: 2.3px;
  margin: 0px clamp(52px, 5.2083333333vw, 5.2083333333vw);
}

.form-block__button:hover {
  background-color: rgba(223, 129, 62, 0);
  border: solid 0.1041666667vw #DF803E;
  color: #DF803E;
}

.form-block__button:active {
  color: #5C5C5C;
  background-color: #C9C9C9;
  border: solid 0.1041666667vw transparent;
}

.header {
  background-color: rgba(222, 115, 43, 0.9019607843);
  position: relative;
  z-index: 0;
}

.header__triangle {
  width: 0;
  height: 0;
  border-top: 27.4479166667vw solid transparent;
  border-right: 47.6041666667vw solid white;
  border-bottom: 27.4479166667vw solid transparent;
  position: absolute;
  top: 50%;
  right: 0;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  z-index: -1;
}

.header__nav {
  border-bottom: white 2px solid;
}

.header__nav a {
  color: black;
}

.header__nav-wrapper {
  padding: 2.0833333333vw 6.25vw 0.7291666667vw 5.625vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__nav-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__nav-item {
  padding: 0.7291666667vw 0.5208333333vw 0.7291666667vw 0.5208333333vw;
  margin: 0vw 0.6770833333vw 0vw 0vw;
  font-size: 1.8571428571rem;
  letter-spacing: 0.1484375vw;
}

.header__contacts-wrapper {
  margin: 0vw 0vw 0.9895833333vw 0vw;
}

.header__contact-link {
  margin: 0vw 1.25vw 0vw 0vw;
}

.header__contact-link:last-child {
  margin-right: 0px;
}

.header__contact-icon {
  width: 2.0833333333vw;
  height: 2.0833333333vw;
}

.hero {
  z-index: 998;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding: 4.7395833333vw 6.25vw 5.9375vw 6.25vw;
}

.hero__wrapper-one {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 55%;
  padding-top: 3.125vw;
}

.hero__wrapper-two {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  width: 45%;
}

.hero__image--giraffe {
  width: 28.0729166667vw;
  height: 39.6354166667vw;
}

.hero__title {
  font-family: "Bookman";
  font-weight: 700;
  font-size: 6.4285714286rem;
  line-height: 130%;
  letter-spacing: 0.296875vw;
}

.hero__subtitle {
  font-size: 3.5714285714rem;
  margin: 0.78125vw 0vw 4.7395833333vw 0vw;
  line-height: 130%;
  letter-spacing: 0.28125vw;
}

.hero__button {
  font-size: 1.8571428571rem;
  padding: 1.0416666667vw 2.1875vw 1.0416666667vw 2.1875vw;
  border-radius: 0.5208333333vw;
  letter-spacing: 0.125vw;
}

.hero__button:hover {
  color: #DF803E;
}

.menu-icon {
  display: none;
  position: relative;
  z-index: 999;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  width: 30px;
  height: 18px;
}

.menu-icon span {
  height: 2px;
  width: 80%;
  -webkit-transform: scale(1);
          transform: scale(1);
  background-color: black;
}

.menu-icon::before,
.menu-icon::after {
  content: "";
  position: absolute;
  height: 2px;
  background-color: black;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.menu-icon::before {
  top: 0;
  width: 55%;
}

.menu-icon::after {
  bottom: 0;
  width: 45%;
}

.menu-icon.active span {
  -webkit-transform: scale(0);
          transform: scale(0);
}

.menu-icon.active::before {
  top: 50%;
  width: 100%;
  -webkit-transform: rotate(-45deg) translate(0, -50%);
          transform: rotate(-45deg) translate(0, -50%);
}

.menu-icon.active::after {
  bottom: 50%;
  width: 100%;
  -webkit-transform: rotate(45deg) translate(0, 50%);
          transform: rotate(45deg) translate(0, 50%);
}

@media screen and (max-width: 768px) {
  .header__contacts-wrapper {
    display: none;
  }
  .header__nav-list {
    display: none;
  }
  .header__nav-wrapper {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    padding: 31px 32px 22px 32px;
  }
  .menu-icon {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .header__triangle {
    border-right: 50.4375vw solid transparent;
    border-bottom: 225px solid white;
    border-left: 50.4375vw solid transparent;
    top: auto;
    right: auto;
    bottom: 0;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    z-index: -1;
  }
  .hero {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 20px 20px 52px 20px;
  }
  .hero__title {
    font-size: 50px;
    letter-spacing: 3.8px;
    max-width: 320px;
  }
  .hero__subtitle {
    font-size: 30px;
    letter-spacing: 3.3px;
    line-height: 110%;
    max-width: 320px;
  }
  .hero__button {
    font-size: 14px;
    padding: 10px 16px;
    white-space: nowrap;
    border-radius: 6px;
    letter-spacing: 0.7px;
    margin: 0 auto;
    margin-bottom: 3px;
  }
  .hero__wrapper-one {
    width: 100%;
  }
  .hero__wrapper-two {
    width: 100%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .hero__image--giraffe {
    width: 140px;
    height: 195px;
  }
}
.about-us {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 5.9895833333vw 13.8541666667vw 6.25vw 13.8541666667vw;
  position: relative;
}

.about-us__link {
  font-weight: 700;
  font-size: 1.8571428571rem;
  color: #DF803E;
  position: absolute;
  top: 5.8333333333vw;
  left: 6.1979166667vw;
  letter-spacing: 0.1928571429rem;
}

.about-us__title {
  font-size: 3.5714285714rem;
  margin: 0vw 0vw 3.90625vw 0vw;
  letter-spacing: 0.3214285714rem;
}

.about-us__facts {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 4.2708333333vw 1fr 4.2708333333vw 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  grid-row-gap: 2.2916666667vw;
  grid-column-gap: 4.2708333333vw;
}

.fact-list__item {
  border-radius: 1.0416666667vw;
  border: solid 0.1041666667vw black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 2.8125vw 1.0416666667vw 2.8125vw 1.0416666667vw;
  letter-spacing: 0.2142857143rem;
}

.fact-item__icon {
  width: 10.7291666667vw;
  height: 10.7291666667vw;
}

.fact-item__text {
  font-size: 2.4285714286rem;
  padding: 0.5208333333vw 0vw 0vw 0vw;
  text-align: center;
  line-height: 130%;
}

.fact-item__text-mobile {
  display: none;
}

@media screen and (max-width: 768px) {
  .about-us {
    padding: 88px 20px 64px 20px;
  }
  .about-us__link {
    top: 48px;
    left: 20px;
    font-size: 14px;
    letter-spacing: 0px;
  }
  .about-us__title {
    font-size: 24px;
    text-align: center;
    letter-spacing: 2px;
    line-height: 117%;
    margin-bottom: 32px;
  }
  .fact-item__text {
    font-size: 14px;
  }
  .fact-item__text-desctop {
    display: none;
  }
  .fact-item__text-mobile {
    display: block;
  }
  .about-us__facts {
    -ms-grid-columns: 150px 20px 150px;
    grid-template-columns: 150px 150px;
    grid-row-gap: 25px;
    grid-column-gap: 20px;
  }
  .fact-list__item {
    border-radius: 10px;
    padding: 13px 5px 16px 5px;
  }
  .fact-item__icon {
    width: 66px;
    height: 66px;
  }
  .fact-item__text {
    letter-spacing: 0.8px;
    padding: 1px 0px;
    line-height: 115%;
  }
  .fact-list__item-grid-6 {
    -ms-grid-column: 2;
        grid-column-start: 2;
    -ms-grid-row: 2;
        grid-row-start: 2;
  }
}
.services {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: rgba(222, 115, 43, 0.9019607843);
  padding: 5.625vw 28.5416666667vw 6.25vw 28.5416666667vw;
  position: relative;
}

.services__link {
  font-weight: 700;
  font-size: 1.8571428571rem;
  color: #ffffff;
  position: absolute;
  top: 5.7291666667vw;
  left: 6.25vw;
  letter-spacing: 0.2142857143rem;
}

.service__image-background-one-mobile {
  display: none;
}

.service__image-background-two-mobile {
  display: none;
}

.service__image-background-one {
  width: 21.7708333333vw;
  height: 30.7291666667vw;
  position: absolute;
  left: 6.25vw;
  bottom: 14.6875vw;
}

.service__image-background-two {
  width: 21.7708333333vw;
  height: 30.7291666667vw;
  position: absolute;
  right: 6.25vw;
  bottom: 14.6875vw;
}

.services__title {
  font-size: 3.5714285714rem;
  margin: 0vw 0vw 3.6458333333vw 0vw;
  letter-spacing: 0.3571428571rem;
}

.services__list {
  font-size: 2.4285714286rem;
  margin-bottom: 3.3333333333vw;
}

.services__item {
  border-bottom: 0.1041666667vw solid black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.services__item:first-child {
  border-top: 0.1041666667vw solid black;
}

.services__item-number {
  border: 0.1041666667vw solid black;
  display: block;
  min-width: 3.4375vw;
  min-height: 3.4375vw;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0.8333333333vw 1.8229166667vw 0.8333333333vw 0vw;
}

.services__item-text {
  display: block;
  letter-spacing: 0.2142857143rem;
  padding: 0.2604166667vw 0vw 0.2604166667vw 0vw;
}

.services__button {
  font-size: 1.8571428571rem;
  padding: 1.0416666667vw 2.0833333333vw 1.0416666667vw 2.0833333333vw;
  border: 0.1041666667vw solid black;
  border-radius: 0.5208333333vw;
  letter-spacing: 0.2142857143rem;
  background-color: transparent;
}

.services__button:hover {
  color: #DF803E;
  background-color: white;
  border: 0.1041666667vw solid transparent;
}

@media screen and (max-width: 768px) {
  .services {
    padding: 88px 20px 64px 20px;
  }
  .services__link {
    top: 48px;
    left: 20px;
    font-size: 14px;
    letter-spacing: 0.3px;
  }
  .service__image-background-one {
    display: none;
  }
  .service__image-background-two {
    display: none;
  }
  .service__image-background-one-mobile {
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
  }
  .service__image-background-two-mobile {
    display: block;
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 0;
  }
  .services__title {
    font-size: 24px;
    text-align: center;
    letter-spacing: 2px;
    line-height: 117%;
    margin-bottom: 26px;
  }
  .services__list {
    margin-bottom: 25px;
  }
  .services__item {
    border-width: 1px;
  }
  .services__item:first-child {
    border-width: 1px;
  }
  .services__item-number {
    font-size: 16px;
    min-width: 38px;
    min-height: 38px;
    border-width: 1px;
    margin-bottom: 10px;
    margin-top: 10px;
  }
  .services__item-text {
    font-size: 16px;
    letter-spacing: 0.9px;
    line-height: 130%;
    padding-top: 5px;
    padding-bottom: 5px;
  }
  .services__button {
    font-size: 14px;
    padding: 10px 20px;
    letter-spacing: 1px;
    border-width: 1px;
    border-radius: 5px;
  }
}
.courses {
  padding: 11.4583333333vw 6.25vw 6.25vw 6.25vw;
  position: relative;
}

.courses__link {
  font-weight: 700;
  font-size: 1.8571428571rem;
  color: #000000;
  position: absolute;
  top: 5.8333333333vw;
  left: 6.25vw;
  letter-spacing: 0.2142857143rem;
}

.courses__language {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin-bottom: 3.90625vw;
}

.courses__language-title {
  font-size: 3.5714285714rem;
  padding-bottom: 3.6458333333vw;
  letter-spacing: 0.3571428571rem;
}

.courses__option {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-bottom: 2.0833333333vw;
}

.courses__option:last-child {
  padding-bottom: 0px;
}

.courses__option-number {
  font-size: 2.4285714286rem;
  border: 0.1041666667vw solid black;
  min-width: 3.4375vw;
  min-height: 3.4375vw;
  border-radius: 50%;
  margin: 0vw 1.0416666667vw 0vw 0vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.courses__option-text {
  font-size: 2.4285714286rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  letter-spacing: 0.2142857143rem;
}

.courses__language-image {
  max-width: 49.7916666667vw;
  max-height: 26.3020833333vw;
  margin-top: 0.625vw;
}

.courses__language-image-mobile {
  display: none;
}

.courses__formats {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-grid-column-align: center;
      justify-self: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.courses__formats-title {
  font-size: 3.5714285714rem;
  margin-bottom: 3.6458333333vw;
  letter-spacing: 0.3571428571rem;
}

.courses__formats-wrapper {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 3.6458333333vw 1fr 3.6458333333vw 1fr;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 3.6458333333vw;
}

.courses__format {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.courses__format-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin-top: 0.78125vw;
}

.courses__format-number {
  font-size: 2.4285714286rem;
  border: 0.1041666667vw solid black;
  min-width: 3.4375vw;
  min-height: 3.4375vw;
  border-radius: 50%;
  margin: 0vw 1.0416666667vw 0vw 0vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  letter-spacing: 3px;
}

.courses__format-heading {
  font-size: 2.4285714286rem;
  letter-spacing: 0.2928571429rem;
  margin-bottom: 1.3020833333vw;
}

.courses__format-description {
  font-size: 1.8571428571rem;
  letter-spacing: 0.1928571429rem;
  line-height: 120%;
}

@media screen and (max-width: 768px) {
  .courses {
    padding: 88px 20px 64px 20px;
  }
  .courses__link {
    top: 48px;
    left: 20px;
    font-size: 14px;
    letter-spacing: 0px;
  }
  .courses__format {
    margin-bottom: 8px;
  }
  .courses__language-content {
    width: 100%;
    height: 100%;
  }
  .courses__language-title,
  .courses__formats-title {
    font-size: 24px;
    text-align: center;
    letter-spacing: 2.4px;
    line-height: 117%;
    margin-bottom: 32px;
    padding: 0 5px;
  }
  .courses__formats-title {
    margin-bottom: 12px;
  }
  .courses__option-number,
  .courses__format-number {
    font-size: 20px;
    min-width: 38px;
    min-height: 38px;
    border-width: 1px;
    margin-bottom: 10px;
    margin-top: 10px;
    margin-right: 7px;
  }
  .courses__format-number {
    margin: 7px 0px;
  }
  .courses__format-item {
    margin: 17px 0 0 9px;
  }
  .courses__option-text,
  .courses__format-heading {
    font-size: 20px;
    letter-spacing: 2.5px;
  }
  .courses__format-heading {
    margin-bottom: 8px;
  }
  .courses__language-image {
    display: none;
  }
  .courses__formats-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-bottom: 30px;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .courses__format-description {
    font-size: 16px;
    letter-spacing: 0.9px;
  }
  .courses__language-image-mobile {
    display: block;
    width: 100%;
    height: 100%;
  }
}
.travel {
  padding: 5.625vw 6.25vw 6.25vw 6.25vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
}

.travel__link {
  font-weight: 700;
  font-size: 1.8571428571rem;
  color: #000000;
  position: absolute;
  top: 5.8333333333vw;
  left: 6.25vw;
  letter-spacing: 0.2142857143rem;
}

.travel__title {
  font-size: 3.5714285714rem;
  margin-bottom: 3.125vw;
  letter-spacing: 0.3571428571rem;
}

.travel__content {
  margin-bottom: 2.5vw;
}

.travel__description {
  font-size: 2.4285714286rem;
  line-height: 130%;
  letter-spacing: 0.2142857143rem;
}

.travel__description:first-child {
  margin-bottom: 3.3854166667vw;
}

.travel__images {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.travel__image-wrapper-one {
  margin-right: 1.0416666667vw;
}

.travel__image-one {
  margin-bottom: 1.0416666667vw;
  height: 26.0416666667vw;
  width: 21.09375vw;
}

.travel__image-two {
  height: 26.0416666667vw;
  width: 21.09375vw;
}

.travel__image-wrapper-three {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 1.0416666667vw;
}

.travel__image-three {
  margin-right: 1.0416666667vw;
  height: 20.4166666667vw;
  width: 35.3125vw;
}

.travel__image-four {
  height: 20.4166666667vw;
  width: 29.0104166667vw;
}

.travel__image-wrapper-four {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.travel__image-five {
  margin-right: 1.0416666667vw;
  height: 31.6666666667vw;
  width: 27.2916666667vw;
}

.travel__image-six {
  margin-bottom: 1.0416666667vw;
  height: 20.4166666667vw;
  width: 37.03125vw;
}

.travel__image-seven {
  margin-right: 1.0416666667vw;
  height: 10.2083333333vw;
  width: 14.8958333333vw;
}

.travel__image-eight {
  height: 10.2083333333vw;
  width: 21.09375vw;
}

.travel__images-mobile {
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  height: 100%;
}

.travel__image-mobile-wrapper-one {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 20px 1fr;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  margin-bottom: 8px;
}

.travel__image-mobile {
  width: 100%;
  border-radius: 4px;
}

.travel__image-mobile-wrapper-two {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 20px 1fr;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}

.travel__image-mobile-wrapper-four,
.travel__image-mobile-wrapper-three {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
  grid-template-columns: 1fr;
  gap: 10px;
}

.travel__image-mobile-six {
  margin-bottom: 8px;
}

.travel__image-mobile-seven {
  margin-bottom: 8px;
}

@media screen and (max-width: 768px) {
  .travel {
    padding: 88px 20px 64px 20px;
  }
  .travel__link {
    top: 48px;
    left: 20px;
    font-size: 14px;
    letter-spacing: 0px;
  }
  .travel__title {
    font-size: 24px;
    text-align: center;
    letter-spacing: 2.4px;
    line-height: 117%;
    margin-bottom: 22px;
    padding: 0 5px;
  }
  .travel__description {
    font-size: 16px;
    line-height: 125%;
    letter-spacing: 0.8px;
  }
  .travel__description:first-child {
    margin-bottom: 0px;
  }
  .travel__images-mobile {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .travel__images {
    display: none;
  }
}
.team {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: rgba(222, 115, 43, 0.9019607843);
  padding: 6.25vw 15.1041666667vw 6.25vw 15.1041666667vw;
  position: relative;
}

.team__link {
  font-weight: 700;
  font-size: 1.8571428571rem;
  color: white;
  position: absolute;
  top: 5.8333333333vw;
  left: 6.25vw;
  letter-spacing: 0.2142857143rem;
}

#team-button-right {
  position: absolute;
  background-image: url(./image/button-right-White.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 5.5208333333vw;
  width: 5.5208333333vw;
  right: 6.25vw;
  top: 33.4375vw;
}

#team-button-right:hover {
  background-image: url(./image/button-right-White-Active.png.png);
}

#team-button-left {
  position: absolute;
  background-image: url(./image/button-left-White.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 5.5208333333vw;
  width: 5.5208333333vw;
  left: 6.25vw;
  top: 33.4375vw;
}

#team-button-left:hover {
  background-image: url(./image/button-left-White-Active.png);
}

.team__title {
  font-size: 3.5714285714rem;
  margin-bottom: 3.6458333333vw;
  letter-spacing: 0.3857142857rem;
}

.team__members {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  overflow: scroll;
}

.team__members::-webkit-scrollbar {
  display: none;
}

.team__member {
  border-radius: 0.7291666667vw;
  background-color: white;
}

.team__member:last-child {
  margin-right: 0vw;
}

.owl-carousel .owl-item img {
  height: 100%;
}

.team__member-image {
  height: 26.5104166667vw;
  width: 20.8333333333vw;
  -o-object-fit: cover;
     object-fit: cover;
}

.team__member-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 2.0833333333vw 2.34375vw 3.28125vw 2.34375vw;
}

.team__member-name {
  font-size: 2.4285714286rem;
  margin-bottom: 0.9375vw;
  letter-spacing: 0.0714285714rem;
}

.team__member-role {
  font-size: 1.8571428571rem;
}

#ppp {
  border: solid 30px red;
}

.owl-stage {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.team__member-large {
  border-radius: 0.7291666667vw;
  background-color: white;
  width: 24.7916666667vw;
  height: 48.3333333333vw;
}

@media screen and (max-width: 768px) {
  .team {
    padding: 88px 0px 154px 0px;
  }
  .team__link {
    top: 48px;
    left: 20px;
    font-size: 14px;
    letter-spacing: 0.5px;
  }
  #team-button-left {
    top: auto;
    bottom: 64px;
    left: 20px;
    height: 66px;
    width: 66px;
  }
  #team-button-right {
    top: auto;
    bottom: 64px;
    right: 20px;
    height: 66px;
    width: 66px;
  }
  .team__title {
    font-size: 24px;
    text-align: center;
    letter-spacing: 3.1px;
    line-height: 117%;
    margin-bottom: 22px;
    padding: 0 5px;
  }
  .team__member {
    border-radius: 8px;
  }
  .team__member-name {
    font-size: 20px;
  }
  .team__member-role {
    font-size: 16px;
  }
}
@media screen and (min-width: 564px) and (max-width: 768px) {
  .team {
    padding: 88px 10px 154px 10px;
  }
}
.reviews {
  padding: 5.625vw 15.3645833333vw 6.25vw 15.3645833333vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
}

.reviews__link {
  font-weight: 700;
  font-size: 1.8571428571rem;
  color: #000000;
  position: absolute;
  top: 5.8333333333vw;
  left: 6.25vw;
}

#reviews-button-right {
  position: absolute;
  background-image: url(../image/Button-Right-Orange.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 5.5208333333vw;
  width: 5.5208333333vw;
  right: 6.25vw;
  top: 17.9166666667vw;
}

#reviews-button-right:hover {
  background-image: url(../image/Button-Right-Orange-Active.png);
}

#reviews-button-left {
  position: absolute;
  background-image: url(../image/Button-Left-Orange.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 5.5208333333vw;
  width: 5.5208333333vw;
  left: 6.25vw;
  top: 17.9166666667vw;
}

#reviews-button-left:hover {
  background-image: url(../image/Button-Left-Orange-Active.png);
}

.reviews__title {
  font-size: 3.5714285714rem;
  margin-bottom: 3.3333333333vw;
  line-height: 130%;
}

.review {
  border-radius: 1.0416666667vw;
  background-color: rgba(222, 115, 43, 0.9019607843);
  padding: 2.5vw 3.5416666667vw 2.3958333333vw 3.75vw;
}

.review__author-wrapper {
  border-bottom: solid 0.1041666667vw white;
  padding-bottom: 0.9375vw;
  margin-bottom: 1.0416666667vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.review__name {
  font-size: 2.4285714286rem;
}

.review__position {
  font-size: 1.8571428571rem;
  line-height: 130%;
}

.review__author-image {
  width: 3.9583333333vw !important;
  height: 5.5729166667vw !important;
}

.review__content {
  line-height: 130%;
  font-size: 1.8571428571rem;
}

@media screen and (max-width: 768px) {
  .reviews {
    padding: 88px 20px 154px 20px;
  }
  .reviews__link {
    top: 48px;
    left: 20px;
    font-size: 14px;
    letter-spacing: 0.5px;
  }
  #reviews-button-left {
    top: auto;
    bottom: 64px;
    left: 20px;
    height: 66px;
    width: 66px;
  }
  #reviews-button-right {
    top: auto;
    bottom: 64px;
    right: 20px;
    height: 66px;
    width: 66px;
  }
  .reviews__title {
    font-size: 24px;
    text-align: center;
    letter-spacing: 3.1px;
    line-height: 117%;
    margin-bottom: 22px;
    padding: 0 5px;
  }
  .review {
    border-radius: 12px;
  }
  .review__name {
    font-size: 20px;
    padding-bottom: 8px;
    letter-spacing: 1.8px;
  }
  .review__position,
  .review__content {
    font-size: 16px;
    letter-spacing: 1px;
    line-height: 122%;
  }
  .review {
    padding: 20px 16px 20px 18px;
  }
  .review__author-wrapper {
    border-width: 1.2px;
    padding-bottom: 8px;
    margin-bottom: 8px;
  }
  .review__author {
    width: 70%;
  }
  .review__author-image {
    width: 50px !important;
    height: 71px !important;
  }
}
.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 5.8333333333vw 6.25vw 6.25vw 6.25vw;
  background-color: rgba(222, 115, 43, 0.9019607843);
}

.footer__title {
  font-family: "Bookman";
  font-weight: 700;
  font-size: 2.9728571429rem;
}

.footer__contact-info {
  font-size: 1.2857142857rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer__contact-item {
  margin-right: 6.25vw;
}

.footer__contact-item:last-child {
  margin-right: 0vw;
}

.footer__contact-label {
  margin-bottom: 0.8333333333vw;
}

.footer__social-label {
  font-size: 1.2857142857rem;
  margin-bottom: 0.8333333333vw;
}

.footer__social-icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__social-icon {
  margin-right: 0.5208333333vw;
  width: 1.25vw;
  height: 1.25vw;
}

.footer__social-icon:last-child {
  margin-right: 0vw;
}

@media screen and (max-width: 768px) {
  .footer {
    padding: 48px 20px 40px 20px;
    display: -ms-grid;
    display: grid;
        grid-template-areas: "title title" "info social";
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .footer__title {
    font-size: 20px;
    text-align: left;
    letter-spacing: 2.4px;
    line-height: 117%;
    margin-bottom: 17px;
    padding: 0px;
    grid-area: title;
  }
  .footer__contact-info {
    grid-area: info;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .footer__contact-item {
    margin-bottom: 16px;
  }
  .footer__contact-item:last-child {
    margin-bottom: 16px;
  }
  .footer__social {
    grid-area: social;
  }
  .footer__contact-label,
  .footer__contact-value,
  .footer__social-label {
    font-size: 14px;
    line-height: 125%;
    letter-spacing: 0.8px;
  }
  .footer__social-icon {
    width: 18px;
    height: 18px;
  }
}

@media screen and (max-width: 768px) {
  .footer__title {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
  }
  .footer__contact-info {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
  }
  .footer__social {
    -ms-grid-row: 2;
    -ms-grid-column: 2;
  }
}