section#travel.travel
   .travel__link Наші подорожі
   h2.travel__title Ми подорожуємо світом
   .travel__content
      p.travel__description Лондон, Греція, Болгарія, Польша, різні міста України.
      p.travel__description Гарною традицією «GiraffeClub» стали освітні подорожі студентів в різні країни. Окрім вивчення англійської й покращення практичних навичок мови у спеціалізованих мовних центрах світу, програми поїздок передбачають щоденні розваги й екскурсії.

   .travel__images-mobile
      .travel__image-mobile-wrapper-one
         img.travel__image-mobile.travel__image-mobile-two(src='./image/photo-5-mobile.png' alt='')
         img.travel__image-mobile.travel__image-mobile-one(src='./image/photo-8-mobile.png' alt='')

      img.travel__image-mobile.travel__image-mobile-six(src='./image/photo-7-mobile.png' alt='')
      img.travel__image-mobile.travel__image-mobile-seven(src='./image/photo-2-mobile.png' alt='')

      .travel__image-mobile-wrapper-two
         .travel__image-mobile-wrapper-three 
            img.travel__image-mobile.travel__image-mobile-five(src='./image/photo-6-mobile.png' alt='')
            img.travel__image-mobile.travel__image-mobile-three(src='./image/photo-1-mobile.png' alt='')

         .travel__image-mobile-wrapper-four 
            img.travel__image-mobile.travel__image-mobile-eight(src='./image/photo-4-mobile.png' alt='')
            img.travel__image-mobile.travel__image-mobile-four(src='./image/photo-3-mobile.png' alt='')


   .travel__images
      .travel__image-wrapper-one
         img.travel__image-one(src='./image/photo-8.png' alt='')
         img.travel__image-two(src='./image/photo-5.png' alt='')

      .travel__image-wrapper-two
         .travel__image-wrapper-three
            img.travel__image-three(src='./image/photo-1.png' alt='')
            img.travel__image-four(src='./image/photo-3.png' alt='')

         .travel__image-wrapper-four
            img.travel__image-five(src='./image/photo-6.png' alt='')

            .travel__image-wrapper-five
               img.travel__image-six(src='./image/photo-7.png' alt='')
               img.travel__image-seven(src='./image/photo-2.png' alt='')
               img.travel__image-eight(src='./image/photo-4.png' alt='')



