section#cources.courses
   .courses__link Навчання

   .courses__language
      .courses__language-content
         h2.courses__language-title Вивчення іноземної мови

         .courses__options
            .courses__option
               .courses__option-number 01
               .courses__option-text У групах
            .courses__option
               .courses__option-number 02
               .courses__option-text У міні-групах
            .courses__option
               .courses__option-number 03
               .courses__option-text Індивідуально

      img.courses__language-image(src='./image/students.png' alt='students')

   .courses__formats
      h2.courses__formats-title Формати курсів:

      .courses__formats-wrapper
         .courses__format
            .courses__format-number 01
            .courses__format-item
               h4.courses__format-heading Стандартний
               p.courses__format-description Заняття 2 рази на тиждень тривалістю від 30 до 60 хв. (в залежності від віку).

         .courses__format
            .courses__format-number 02
            .courses__format-item
               h4.courses__format-heading Поглиблений
               p.courses__format-description Заняття 3 рази на тиждень по 1 год. 20 хв. <br> З Кембриджським іспитом на новий рівень в кінці навчального року.

         .courses__format
            .courses__format-number 03
            .courses__format-item
               h4.courses__format-heading Онлайн-курси
               p.courses__format-description Можна обрати як стандартний, так і поглиблений формат та вивчати онлайн
   img.courses__language-image-mobile(src='./image/students.png' alt='students')
