section#reviews.reviews
   .reviews__link Відгуки
   #reviews-button-left(onclick="reviewsCaruselButtoms.iventClickLeft()")
   #reviews-button-right(onclick="reviewsCaruselButtoms.iventClickRight()")
   h2.reviews__title Що кажуть про нас

   .reviews__content.owl-carousel#owl-carousel2
      .review
         .review__author-wrapper 
            .review__author
               h3.review__name Ольга Березовська
               h4.review__position приватний нотаріус м.Кропивницький
            img.review__author-image(src="./image/Girafe.png", alt="")
         p.review__content
            | Високий рівень викладання – викладачі прекрасні, професіонали своєї справи.
            | Звернулися до Ольги до Жирафа
            | Клаба за рекомендацією. Хочу особливо відзначити організованість, дисципліну, чіткість, гарний та зручний
            | дизайн офісу. Враження лише позитивні, чудові, результат навчання – міжнародний сертифікат у дочки.
            | Рекомендую.
      .review
         .review__author-wrapper 
            .review__author
               h3.review__name Ольга Березовська
               h4.review__position приватний нотаріус м.Кропивницький
            img.review__author-image(src="./image/Girafe.png", alt="")
         p.review__content
            | Високий рівень викладання – викладачі прекрасні, професіонали своєї справи.
            | Звернулися до Ольги до Жирафа
            | Клаба за рекомендацією. Хочу особливо відзначити організованість, дисципліну, чіткість, гарний та зручний
            | дизайн офісу. Враження лише позитивні, чудові, результат навчання – міжнародний сертифікат у дочки.
            | Рекомендую.
      .review
         .review__author-wrapper 
            .review__author
               h3.review__name Ольга Березовська
               h4.review__position приватний нотаріус м.Кропивницький
            img.review__author-image(src="./image/Girafe.png", alt="")
         p.review__content
            | Високий рівень викладання – викладачі прекрасні, професіонали своєї справи.
            | Звернулися до Ольги до Жирафа
            | Клаба за рекомендацією. Хочу особливо відзначити організованість, дисципліну, чіткість, гарний та зручний
            | дизайн офісу. Враження лише позитивні, чудові, результат навчання – міжнародний сертифікат у дочки.
            | Рекомендую.
