footer.footer
  h2.footer__title Giraffe Club
  .footer__contact-info
    .footer__contact-item
      .footer__contact-label Номер телефону:
      .footer__contact-value +38 050 843 91 68
    .footer__contact-item
      .footer__contact-label Email:
      .footer__contact-value info@giraffe.in.ua
    .footer__contact-item
      .footer__contact-label Адреса:
      .footer__contact-value м. Кропивницький, вул. Соборна, 1а
  .footer__social
    .footer__social-label Соціальні мережі:
    .footer__social-icons
      img.footer__social-icon(src='./image/facebook.png', alt='facebook')
      img.footer__social-icon(src='./image/Instagram.png', alt='instagram')
