section#team.team
  .team__link Наша команда
  #team-button-left.team-button
  #team-button-right.team-button

  h2.team__title Найкраща команда - найкращі результати
  .team__members
    .team__member
      img.team__member-image(src="./image/valeria.png" alt="")
      .team__member-wrapper
        h2.team__member-name Валерія Звіранська
        .team__member-role Адміністратор

    .team__member.team__member-large 
      img.team__member-image.team__member-image-large(src="./image/olga.png" alt="")
      .team__member-wrapper.team__member-wrapper-lagre
        h2.team__member-name.team__member-name-large  Ольга Мануйлова
        .team__member-role.team__member-role-large Засновниця школи
        .team__member-wrapper-desription
         p.team__member-desription Має вищу педагогічну освіту. Її профіль: германські мови. Перекладач.
         p.team__member-desription Викладацький стаж: 22 роки

    .team__member
      img.team__member-image(src="./image/natalia.png" alt="")
      .team__member-wrapper
        h2.team__member-name Наталія Шмалько
        .team__member-role Адміністратор
