section#team.team
   .team__link Наша команда
   #team-button-left.team-button(onclick="teamCaruselButtoms.iventClickLeft()")
   #team-button-right.team-button(onclick="teamCaruselButtoms.iventClickRight()")

   h2.team__title Найкраща команда - найкращі результати
   .team__members.owl-carousel#owl-carousel1

         .team__member
            img.team__member-image(src="./image/valeria.png" alt="")
            .team__member-wrapper
               h2.team__member-name Валерія Звіранська
               .team__member-role Адміністратор

         .team__member
            img.team__member-image(src="./image/olga.png" alt="")
            .team__member-wrapper
               h2.team__member-name Ольга Мануйлова
               .team__member-role Засновниця школи
         .team__member
            img.team__member-image(src="./image/natalia.png" alt="")
            .team__member-wrapper
               h2.team__member-name Наталія Шмалько
               .team__member-role Адміністратор
         .team__member
            img.team__member-image(src="./image/natalia.png" alt="")
            .team__member-wrapper
               h2.team__member-name Наталія Шмалько
               .team__member-role Адміністратор
         .team__member
            img.team__member-image(src="./image/natalia.png" alt="")
            .team__member-wrapper
               h2.team__member-name Наталія Шмалько
               .team__member-role Адміністратор

