section#about-us.about-us
   div.about-us__link Про нас
   h3.about-us__title Мовних шкіл багато - лідер один!
   div.about-us__facts.fact-list
      div.fact-list__item
         img.fact-item__icon(src="./image/calendar.png" alt="Calendar")
         h4.fact-item__text.fact-item__text-desctop 6 років успішної роботи
         h4.fact-item__text.fact-item__text-mobile 6 років <br> успішної роботи

      div.fact-list__item
         img.fact-item__icon(src="./image/open-book.png" alt="book")
         h4.fact-item__text Сучасні програми й навчальні матеріали
      div.fact-list__item
         img.fact-item__icon(src="./image/female.png" alt="female")
         h4.fact-item__text Професійні викладачи
      div.fact-list__item
         img.fact-item__icon(src="./image/success.png" alt="success")
         h4.fact-item__text Переможець «Народний Бренд» (2018, 2019, 2020)
      div.fact-list__item
         img.fact-item__icon(src="./image/handshake.png" alt="handshake")
         h4.fact-item__text Топ партнер Cambridge Assessment English
      div.fact-list__item.fact-list__item-grid-6
         img.fact-item__icon(src="./image/graduating-student.png" alt="student")
         h4.fact-item__text.fact-item__text-desctop Сотні наших випускників з високим рівнем
         h4.fact-item__text.fact-item__text-mobile Сотні випускників з високим рівнем
