.mobile-menu
   .mobile-menu__icon-close(onclick="navMobile.mobileMenuClouse()")
   .mobile-menu_logo Giraffe Club
   ul.mobile-menu__list-mobile
      a(href="#about-us" onclick="navMobile.mobileMenuClouse()")
         li.mobile-menu__item Про нас
      a(href="#services" onclick="navMobile.mobileMenuClouse()")
         li.mobile-menu__item Напрямки роботи
      a(href="#courses" onclick="navMobile.mobileMenuClouse()")
         li.mobile-menu__item Навчання
      a(href="#travel" onclick="navMobile.mobileMenuClouse()")
         li.mobile-menu__item Наші подорожі
      a(href="#team" onclick="navMobile.mobileMenuClouse()")
         li.mobile-menu__item Наша команда
      a(href="#reviews" onclick="navMobile.mobileMenuClouse()")
         li.mobile-menu__item Відгуки
   img.mobile-menu__image-giraffe(src="./image/Girafe.png" alt="Giraffe")

