.mobile-menu
   .mobile-menu__icon-close(onclick="navMobile.mobileMenuClouse()")
   .mobile-menu_logo Giraffe Club
   ul.mobile-menu__list-mobile
      a(href="#about-us")
         li.mobile-menu__item Про нас
      a(href="#services")
         li.mobile-menu__item Напрямки роботи
      a(href="#courses")
         li.mobile-menu__item Навчання
      a(href="#travel")
         li.mobile-menu__item Наші подорожі
      a(href="#team")
         li.mobile-menu__item Наша команда
      a(href="#reviews")
         li.mobile-menu__item Відгуки
   img.mobile-menu__image-giraffe(src="./image/Girafe.png" alt="Giraffe")

