section#services.services
  div.services__link Напрямки роботи
  img.service__image-background-one(src="./image/Girafe.png" alt="Girafe")
  img.service__image-background-two(src="./image/Girafe.png" alt="Girafe")
  img.service__image-background-one-mobile(src="./image/giraffe_club_logo_head-min.png" alt="Girafe")
  img.service__image-background-two-mobile(src="./image/giraffe_club_logo_head.png" alt="Girafe")
  h3.services__title Що ти можеш у нас знайти?
  div.services__list
    div.services__item
      span.services__item-number 01
      span.services__item-text Англійська для дітей від 1 року
    div.services__item
      span.services__item-number 02
      span.services__item-text Англійська для дорослих
    div.services__item
      span.services__item-number 03
      span.services__item-text Americanschool для школярів (1- 11 клас)
    div.services__item
      span.services__item-number 04
      span.services__item-text Підготовка до ЗНО
    div.services__item
      span.services__item-number 05
      span.services__item-text Підготовка до міжнародних екзаменів YLE, KET, PET, FCE, IELTS
    div.services__item
      span.services__item-number 06
      span.services__item-text Німецька для дорослих та дітей, віком від 3 років
    div.services__item
      span.services__item-number 07
      span.services__item-text Підготовка дітей до школи
    div.services__item
      span.services__item-number 08
      span.services__item-text Літній табір
  button.services__button#services__button(onclick="modalForm.openForm()") Залишити заявку